In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset("titanic")

In [3]:
df

     survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0           0       3    male  22.0  ...   NaN  Southampton     no  False
1           1       1  female  38.0  ...     C    Cherbourg    yes  False
2           1       3  female  26.0  ...   NaN  Southampton    yes   True
3           1       1  female  35.0  ...     C  Southampton    yes  False
4           0       3    male  35.0  ...   NaN  Southampton     no   True
..        ...     ...     ...   ...  ...   ...          ...    ...    ...
886         0       2    male  27.0  ...   NaN  Southampton     no   True
887         1       1  female  19.0  ...     B  Southampton    yes   True
888         0       3  female   NaN  ...   NaN  Southampton     no  False
889         1       1    male  26.0  ...     C    Cherbourg    yes   True
890         0       3    male  32.0  ...   NaN   Queenstown     no   True

[891 rows x 15 columns]

In [4]:
df.info() # missing data var...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [5]:
df.sex.str.islower().sample(10)

657    True
828    True
127    True
323    True
675    True
54     True
579    True
176    True
608    True
328    True
Name: sex, dtype: bool

In [6]:
df.sex.str.isupper().sum()

0

In [7]:
df.sex.str.contains("female")

0      False
1       True
2       True
3       True
4      False
       ...
886    False
887     True
888     True
889    False
890    False
Name: sex, Length: 891, dtype: bool

In [8]:
df[df.sex == "female"] # cinsiyeti kadÄ±n olanlarÄ± aldÄ±k.

     survived  pclass     sex   age  ...  deck  embark_town  alive  alone
1           1       1  female  38.0  ...     C    Cherbourg    yes  False
2           1       3  female  26.0  ...   NaN  Southampton    yes   True
3           1       1  female  35.0  ...     C  Southampton    yes  False
8           1       3  female  27.0  ...   NaN  Southampton    yes  False
9           1       2  female  14.0  ...   NaN    Cherbourg    yes  False
..        ...     ...     ...   ...  ...   ...          ...    ...    ...
880         1       2  female  25.0  ...   NaN  Southampton    yes  False
882         0       3  female  22.0  ...   NaN  Southampton     no   True
885         0       3  female  39.0  ...   NaN   Queenstown     no  False
887         1       1  female  19.0  ...     B  Southampton    yes   True
888         0       3  female   NaN  ...   NaN  Southampton     no  False

[314 rows x 15 columns]

In [9]:
df.sex = df.sex.str.upper()
df.sex

0        MALE
1      FEMALE
2      FEMALE
3      FEMALE
4        MALE
        ...
886      MALE
887    FEMALE
888    FEMALE
889      MALE
890      MALE
Name: sex, Length: 891, dtype: object

In [10]:
df = df.replace("male", "MALE")
df

     survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0           0       3    MALE  22.0  ...   NaN  Southampton     no  False
1           1       1  FEMALE  38.0  ...     C    Cherbourg    yes  False
2           1       3  FEMALE  26.0  ...   NaN  Southampton    yes   True
3           1       1  FEMALE  35.0  ...     C  Southampton    yes  False
4           0       3    MALE  35.0  ...   NaN  Southampton     no   True
..        ...     ...     ...   ...  ...   ...          ...    ...    ...
886         0       2    MALE  27.0  ...   NaN  Southampton     no   True
887         1       1  FEMALE  19.0  ...     B  Southampton    yes   True
888         0       3  FEMALE   NaN  ...   NaN  Southampton     no  False
889         1       1    MALE  26.0  ...     C    Cherbourg    yes   True
890         0       3    MALE  32.0  ...   NaN   Queenstown     no   True

[891 rows x 15 columns]

In [11]:
df.sex.apply(lambda x : x.lower() if x == "MALE" else x)

0        male
1      FEMALE
2      FEMALE
3      FEMALE
4        male
        ...
886      male
887    FEMALE
888    FEMALE
889      male
890      male
Name: sex, Length: 891, dtype: object

In [12]:
df["class"] = df["class"].str.swapcase()
df["class"]

0       tHIRD
1       fIRST
2       tHIRD
3       fIRST
4       tHIRD
        ...
886    sECOND
887     fIRST
888     tHIRD
889     fIRST
890     tHIRD
Name: class, Length: 891, dtype: object

In [13]:
# df.age.str.isnumeric #hata verir Ã§Ã¼nkÃ¼ age bir str deÄŸil.

In [14]:
df["age"].astype("string").str.isnumeric()  # type'Ä±nÄ± stringe Ã§evirdik.

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     <NA>
889    False
890    False
Name: age, Length: 891, dtype: boolean

In [15]:
df["age"].apply(str)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     nan
889    26.0
890    32.0
Name: age, Length: 891, dtype: object

In [16]:
df.age.value_counts

<bound method IndexOpsMixin.value_counts of 0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64>

In [17]:
df.age = df.age.replace(np.nan, "unk")
df.age.value_counts()   # 177 tane unknown deÄŸerimiz var.

unk     177
24.0     30
22.0     27
18.0     26
30.0     25
       ...
70.5      1
0.42      1
66.0      1
53.0      1
80.0      1
Name: age, Length: 89, dtype: int64

In [18]:
df.age = df.age.map({"unk": "UNK"})
df.age.value_counts()

UNK    177
Name: age, dtype: int64

In [19]:
df.age = df.age.replace(np.nan, "unk")
df.age.value_counts()

unk    714
UNK    177
Name: age, dtype: int64

In [20]:
df

     survived  pclass     sex  age  ...  deck  embark_town  alive  alone
0           0       3    MALE  unk  ...   NaN  Southampton     no  False
1           1       1  FEMALE  unk  ...     C    Cherbourg    yes  False
2           1       3  FEMALE  unk  ...   NaN  Southampton    yes   True
3           1       1  FEMALE  unk  ...     C  Southampton    yes  False
4           0       3    MALE  unk  ...   NaN  Southampton     no   True
..        ...     ...     ...  ...  ...   ...          ...    ...    ...
886         0       2    MALE  unk  ...   NaN  Southampton     no   True
887         1       1  FEMALE  unk  ...     B  Southampton    yes   True
888         0       3  FEMALE  UNK  ...   NaN  Southampton     no  False
889         1       1    MALE  unk  ...     C    Cherbourg    yes   True
890         0       3    MALE  unk  ...   NaN   Queenstown     no   True

[891 rows x 15 columns]

In [21]:
df.embark_town.str.contains("bourg")

0      False
1       True
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889     True
890    False
Name: embark_town, Length: 891, dtype: object

In [22]:
df.embark_town.str.endswith("town")

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890     True
Name: embark_town, Length: 891, dtype: object

In [23]:
df.embark_town.str.startswith("Ch")

0      False
1       True
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889     True
890    False
Name: embark_town, Length: 891, dtype: object

In [24]:
df.embark_town.value_counts(dropna=False)

Southampton    644
Cherbourg      168
Queenstown      77
NaN              2
Name: embark_town, dtype: int64

In [25]:
df.embark_town.fillna(df.embark_town.mode()[0], inplace=True)

In [26]:
df[df.embark_town.str.startswith("Ch")] # bu sefer oldu.

     survived  pclass     sex  age  ...  deck  embark_town  alive  alone
1           1       1  FEMALE  unk  ...     C    Cherbourg    yes  False
9           1       2  FEMALE  unk  ...   NaN    Cherbourg    yes  False
19          1       3  FEMALE  UNK  ...   NaN    Cherbourg    yes   True
26          0       3    MALE  UNK  ...   NaN    Cherbourg     no   True
30          0       1    MALE  unk  ...   NaN    Cherbourg     no   True
..        ...     ...     ...  ...  ...   ...          ...    ...    ...
866         1       2  FEMALE  unk  ...   NaN    Cherbourg    yes  False
874         1       2  FEMALE  unk  ...   NaN    Cherbourg    yes  False
875         1       3  FEMALE  unk  ...   NaN    Cherbourg    yes   True
879         1       1  FEMALE  unk  ...     C    Cherbourg    yes  False
889         1       1    MALE  unk  ...     C    Cherbourg    yes   True

[168 rows x 15 columns]

In [27]:
# df[df.age.astype("string").str.startswith("2")]

In [28]:
df.age.astype("string").str.find("unk")

0       0
1       0
2       0
3       0
4       0
       ..
886     0
887     0
888    -1
889     0
890     0
Name: age, Length: 891, dtype: Int64

In [29]:
df.embark_town.str.findall("Queenstwon")

0      []
1      []
2      []
3      []
4      []
       ..
886    []
887    []
888    []
889    []
890    []
Name: embark_town, Length: 891, dtype: object

In [30]:
df.embark_town.str.find("Queenstwon")

0     -1
1     -1
2     -1
3     -1
4     -1
      ..
886   -1
887   -1
888   -1
889   -1
890   -1
Name: embark_town, Length: 891, dtype: int64

**DATETIME**

In [41]:
df = sns.load_dataset("flights")

In [32]:
df

     year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
..    ...   ...         ...
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

[144 rows x 3 columns]

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        144 non-null    int64
 1   month       144 non-null    category
 2   passengers  144 non-null    int64
dtypes: category(1), int64(2)
memory usage: 2.9 KB

In [34]:
df.year = pd.to_datetime(df.year) # datetime object'e dÃ¶nÃ¼ÅŸtÃ¼rdÃ¼k.

In [35]:
df.year

0     1970-01-01 00:00:00.000001949
1     1970-01-01 00:00:00.000001949
2     1970-01-01 00:00:00.000001949
3     1970-01-01 00:00:00.000001949
4     1970-01-01 00:00:00.000001949
                   ...
139   1970-01-01 00:00:00.000001960
140   1970-01-01 00:00:00.000001960
141   1970-01-01 00:00:00.000001960
142   1970-01-01 00:00:00.000001960
143   1970-01-01 00:00:00.000001960
Name: year, Length: 144, dtype: datetime64[ns]

In [36]:
from datetime import datetime

In [37]:
df.year.dt.dayofweek

0      3
1      3
2      3
3      3
4      3
      ..
139    3
140    3
141    3
142    3
143    3
Name: year, Length: 144, dtype: int64

In [38]:
df.year.dt.year

0      1970
1      1970
2      1970
3      1970
4      1970
       ...
139    1970
140    1970
141    1970
142    1970
143    1970
Name: year, Length: 144, dtype: int64

In [39]:
df.year.unique()

array(['1970-01-01T00:00:00.000001949', '1970-01-01T00:00:00.000001950',
       '1970-01-01T00:00:00.000001951', '1970-01-01T00:00:00.000001952',
       '1970-01-01T00:00:00.000001953', '1970-01-01T00:00:00.000001954',
       '1970-01-01T00:00:00.000001955', '1970-01-01T00:00:00.000001956',
       '1970-01-01T00:00:00.000001957', '1970-01-01T00:00:00.000001958',
       '1970-01-01T00:00:00.000001959', '1970-01-01T00:00:00.000001960'],
      dtype='datetime64[ns]')

In [42]:
df.year = pd.to_datetime(df.year, format="%Y", errors="ignore")
df.year

0     1949-01-01
1     1949-01-01
2     1949-01-01
3     1949-01-01
4     1949-01-01
         ...
139   1960-01-01
140   1960-01-01
141   1960-01-01
142   1960-01-01
143   1960-01-01
Name: year, Length: 144, dtype: datetime64[ns]

In [43]:
current_date = datetime.now()
current_date

datetime.datetime(2021, 10, 9, 9, 43, 44, 188574)

In [45]:
current_date.month

10

In [46]:
current_date.now()

datetime.datetime(2021, 10, 9, 9, 44, 36, 238979)

In [47]:
current_date.today()

datetime.datetime(2021, 10, 9, 9, 44, 44, 438695)

In [52]:
current_date.strftime(("%d" + " " + "%B" + " " +"%Y"))

'09 October 2021'

In [56]:
date1 = current_date.strftime("%d %B %Y")
date1

'09 October 2021'

In [54]:
datetime.strptime(date, "%d %B %Y")

datetime.datetime(2021, 10, 9, 0, 0)

In [57]:
datetime.strptime(date1, "%d %B %Y")

datetime.datetime(2021, 10, 9, 0, 0)

In [58]:
from datetime import timedelta

In [59]:
date

'09 October 2021'

In [63]:
current_date.now()+timedelta(weeks = 2)

datetime.datetime(2021, 10, 23, 10, 10, 47, 67217)

In [65]:
current_date+timedelta(weeks = 2)

datetime.datetime(2021, 10, 23, 9, 43, 44, 188574)

In [64]:
current_date.today()-timedelta(days=3)

datetime.datetime(2021, 10, 6, 10, 12, 48, 905664)

In [68]:
(current_date.today()-timedelta(days=3)).strftime("%d %B %Y")

'06 October 2021'

**DATA INPUT OUTPUT**

In [73]:
df = pd.read_csv("example.csv", skiprows=1)
df

    0   1   2   3
0   4   5   6   7
1   8   9  10  11
2  12  13  14  15

In [75]:
df = pd.read_csv("example.csv", skiprows=2)
df

    4   5   6   7
0   8   9  10  11
1  12  13  14  15

In [77]:
titanic = pd.read_csv("titanic_train.csv")
titanic

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [80]:
titanic = pd.read_csv("titanic_train.csv", sep= "/") # default olarak ',' vardÄ±r.
titanic

                                                   PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A                                         5 21171,7.25,,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Bri...                                                NaN
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON                                O2. 3101282,7.925,,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May P...                                                NaN
5,0,3,"Allen, Mr. William Henry",male,35,0,0,37...                                                NaN
...                                                                                               ...
887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211...                                                NaN
888,1,1,"Graham, Miss. Margaret Edith",female,1...                                                NaN
889,0,3,"Johnston, Miss. Catherine Helen ""Carr...                                   C. 6607,23.45,,S
890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111...                                                NaN
891,0,3,"Dooley, Mr. Patrick",male,32,0,0,37037...                                                NaN

[891 rows x 1 columns]

In [84]:
df

    4   5   6   7
0   8   9  10  11
1  12  13  14  15

In [87]:
df.to_csv("example")

In [90]:
df.to_excel("excel1.xlsx", sheet_name= "sh1", index=False)
df

    4   5   6   7
0   8   9  10  11
1  12  13  14  15

**SQL**

In [91]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.25)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.8.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.7.4.3)

In [94]:
from sqlalchemy import create_engine

In [95]:
temp_db = create_engine("sqlite:///:memory:")

In [97]:
temp_db.table_names()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

[]

In [98]:
tables = pd.read_html('https://en.wikipedia.org/wiki/World_population')

In [99]:
tables

[        World population (millions, UN estimates)[14]  ...
                                                     #  ...                                            2030[A]
 0                                                   1  ...                                               1416
 1                                                   2  ...                                               1528
 2                                                   3  ...                                                356
 3                                                   4  ...                                                295
 4                                                   5  ...                                                245
 5                                                   6  ...                                                228
 6                                                   7  ...                                                263
 7                                                   8  ...                                                186
 8                                                   9  ...                                                149
 9                                                  10  ...                                                148
 10                                                NaN  ...                                               8501
 11  Notes: .mw-parser-output .reflist{font-size:90...  ...  Notes: .mw-parser-output .reflist{font-size:90...

 [12 rows x 5 columns],
                   Continent  ...             Most populous city (metropolitan area)
 0                      Asia  ...  37,393,000/13,929,000 â€“ Greater Tokyo Area/Tok...
 1                    Africa  ...                             20,900,000 â€“ Cairo[17]
 2                    Europe  ...  16,855,000/12,537,000 â€“ Moscow metropolitan ar...
 3             Latin America  ...  22,043,000/12,176,000 â€“ SÃ£o Paulo Metro Area/S...
 4  Northern America[note 2]  ...  23,724,000/8,323,000 â€“ New York metropolitan a...
 5                   Oceania  ...                                 4,925,000 â€“ Sydney
 6                Antarctica  ...                            1,258 â€“ McMurdo Station

 [7 rows x 5 columns],
   World population milestones in billions (Worldometers estimates)  ...
                                                         Population  ...    10
 0                                               Year                ...  2056
 1                                      Years elapsed                ...    19

 [2 rows x 11 columns],
                                                    0                                  1
 0  .mw-parser-output .legend{page-break-inside:av...  67.5â€“70 65â€“67.5 60â€“65 55â€“60 50â€“55,
    Rank        Country  ...        Date          Source(official or UN)
 0     1          China  ...  8 Oct 2021   National population clock[89]
 1     2          India  ...  8 Oct 2021   National population clock[90]
 2     3  United States  ...  8 Oct 2021   National population clock[91]
 3     4      Indonesia  ...  1 Jul 2020  National annual projection[92]
 4     5       Pakistan  ...  1 Jul 2020               UN Projection[93]
 5     6         Brazil  ...  8 Oct 2021   National population clock[94]
 6     7        Nigeria  ...  1 Jul 2020               UN Projection[93]
 7     8     Bangladesh  ...  8 Oct 2021   National population clock[95]
 8     9         Russia  ...  1 Jan 2020    National annual estimate[96]
 9    10         Mexico  ...  1 Jul 2020  National annual projection[97]

 [10 rows x 6 columns],
    Rank      Country  Population  Area(km2)  Density(pop/km2)
 0     1    Singapore     5704000        710              8033
 1     2   Bangladesh   171490000     143998              1191
 2     3      Lebanon     6856000      10452               656
 3     4       Taiwan    23604000      36193               652
 4     5  South Korea    51781000      99538               520
 5     6       Rwanda    12374000      26338               470
 6     7        Haiti    11578000      27065               428
 7     8  Netherlands    17640000      41526               425
 8     9       Israel     9410000      22072               426
 9    10        India  1382840000    3287240               421,
    Rank         Country  ...  Density(pop/km2)  Population trend
 0     1           India  ...               421           Growing
 1     2        Pakistan  ...               280   Rapidly growing
 2     3      Bangladesh  ...              1191   Rapidly growing
 3     4           Japan  ...               333     Declining[98]
 4     5     Philippines  ...               370           Growing
 5     6         Vietnam  ...               290           Growing
 6     7  United Kingdom  ...               273           Growing
 7     8     South Korea  ...               520            Steady
 8     9          Taiwan  ...               652            Steady
 9    10       Sri Lanka  ...               332           Growing

 [10 rows x 6 columns],
     Year  Population Yearly growth  ... Density(pop/km2) Urban population
     Year  Population             %  ... Density(pop/km2)           Number    %
 0   1951  2584034261         1.88%  ...               17        775067697  30%
 1   1952  2630861562         1.81%  ...               18        799282533  30%
 2   1953  2677608960         1.78%  ...               18        824289989  31%
 3   1954  2724846741         1.76%  ...               18        850179106  31%
 4   1955  2773019936         1.77%  ...               19        877008842  32%
 ..   ...         ...           ...  ...              ...              ...  ...
 65  2016  7464022000         1.14%  ...               50       4060653000  54%
 66  2017  7547859000         1.12%  ...               51       4140189000  55%
 67  2018  7631091000         1.10%  ...               51       4219817000  55%
 68  2019  7713468000         1.08%  ...               52       4299439000  56%
 69  2020  7795000000         1.05%  ...               52       4378900000  56%

 [70 rows x 7 columns],
                      Region  1500  1600  1700  ...  2010  2012  2050  2150
 0                     World   585   660   710  ...  6896  7052  9725  9746
 1                    Africa    86   114   106  ...  1022  1052  2478  2308
 2                      Asia   282   350   411  ...  4164  4250  5267  5561
 3                    Europe   168   170   178  ...   738   740   734   517
 4     Latin America[Note 1]    40    20    10  ...   590   603   784   912
 5  Northern America[Note 1]     6     3     2  ...   345   351   433   398
 6                   Oceania     3     3     3  ...    37    38    57    51

 [7 rows x 15 columns],
                      Region  1500  1600  1700  ...  2010  2012  2050  2150
 0                    Africa  14.7  17.3  14.9  ...  14.8  15.2  25.5  23.7
 1                      Asia  48.2  53.0  57.9  ...  60.4  60.3  54.2  57.1
 2                    Europe  28.7  25.8  25.1  ...  10.7  10.5   7.6   5.3
 3     Latin America[Note 1]   6.8   3.0   1.4  ...   8.6   8.6   8.1   9.4
 4  Northern America[Note 1]   1.0   0.5   0.3  ...   5.0   5.0   4.5   4.1
 5                   Oceania   0.5   0.5   0.4  ...   0.5   0.5   0.6   0.5

 [6 rows x 15 columns],
          Year    World  ...  Oceania              Notes
 0   70,000 BC  < 0.015  ...      NaN              [116]
 1   10,000 BC        4  ...      NaN              [117]
 2     8000 BC        5  ...      NaN                NaN
 3     6500 BC        5  ...      NaN                NaN
 4     5000 BC        5  ...      NaN                NaN
 5     4000 BC        7  ...      NaN                NaN
 6     3000 BC       14  ...      NaN                NaN
 7     2000 BC       27  ...      NaN                NaN
 8     1000 BC       50  ...      NaN  [citation needed]
 9      500 BC      100  ...      NaN                NaN
 10       AD 1      200  ...      NaN                NaN
 11       1000      400  ...      2.0                NaN
 12       1500      458  ...      3.0                NaN
 13       1600      580  ...      3.0                NaN
 14       1700      682  ...      3.0                NaN
 15       1750      791  ...      2.0                NaN
 16       1800     1000  ...      3.0                NaN
 17       1850     1262  ...      2.0                NaN
 18       1900     1650  ...      6.0                NaN
 19       1950     2525  ...     12.7              [118]
 20       1955     2758  ...     14.2                NaN
 21       1960     3018  ...     15.8                NaN
 22       1965     3322  ...     17.5                NaN
 23       1970     3682  ...     19.7                NaN
 24       1975     4061  ...     21.5                NaN
 25       1980     4440  ...     23.0                NaN
 26       1985     4853  ...     24.9                NaN
 27       1990     5310  ...     27.0                NaN
 28       1995     5735  ...     29.1                NaN
 29       2000     6127  ...     31.1                NaN
 30       2005     6520  ...     33.4                NaN
 31       2010     6930  ...     36.4                NaN
 32       2015     7349  ...     39.3                NaN

 [33 rows x 9 columns],
     0                                                  1
 0 NaN  This section needs additional citations for ve...,
    Year  UN est.(millions) Difference  USCB est.(millions) Difference.1
 0  2005               6542          â€“                 6473            â€“
 1  2010               6957        415                 6866          393
 2  2015               7380        423                 7256          390
 3  2020               7795        415                 7643          380
 4  2025               8184        390                 8007          363
 5  2030               8549        364                 8341          334
 6  2035               8888        339                 8646          306
 7  2040               9199        311                 8926          280
 8  2045               9482        283                 9180          254
 9  2050               9735        253                 9408          228,
     Year  World  ... Northern America    Oceania
 0   2000   6144  ...       312 (5.1%)  31 (0.5%)
 1   2005   6542  ...       327 (5.0%)  34 (0.5%)
 2   2010   6957  ...       343 (4.9%)  37 (0.5%)
 3   2015   7380  ...       357 (4.8%)  40 (0.5%)
 4   2020   7795  ...       369 (4.7%)  43 (0.6%)
 5   2025   8184  ...       380 (4.6%)  45 (0.6%)
 6   2030   8549  ...       391 (4.6%)  48 (0.6%)
 7   2035   8888  ...       401 (4.5%)  50 (0.6%)
 8   2040   9199  ...       410 (4.5%)  53 (0.6%)
 9   2045   9482  ...       418 (4.4%)  55 (0.6%)
 10  2050   9735  ...       425 (4.4%)  57 (0.6%)
 11  2055   9958  ...       432 (4.3%)  60 (0.6%)
 12  2060  10152  ...       439 (4.3%)  62 (0.6%)
 13  2065  10318  ...       447 (4.3%)  64 (0.6%)
 14  2070  10459  ...       454 (4.3%)  66 (0.6%)
 15  2075  10577  ...       461 (4.4%)  67 (0.6%)
 16  2080  10674  ...       468 (4.4%)  69 (0.7%)
 17  2085  10750  ...       474 (4.4%)  71 (0.7%)
 18  2090  10810  ...       479 (4.4%)  72 (0.7%)
 19  2095  10852  ...       485 (4.5%)  74 (0.7%)
 20  2100  10875  ...       491 (4.5%)  75 (0.7%)

 [21 rows x 8 columns],
   Population(in billions)            0.5  0.5.1     1  ...     4   4.1     8     8.1
 0                    Year           1500   1500  1804  ...  1974  1974  2024  2024.0
 1           Years elapsed  Years elapsed    304   304  ...    47    50    50     NaN

 [2 rows x 11 columns],
   Population(in billions)          0.375  0.375.1  ...   3.1     6     6.1
 0                    Year           1171     1171  ...  1960  1999  1999.0
 1           Years elapsed  Years elapsed      544  ...    39    39     NaN

 [2 rows x 11 columns],
     0                                                  1
 0 NaN  Wikimedia Commons has media related to World p...,
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteGlobal human population .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteGlobal human population.1
 0                                       Major topics                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               Biocapacity Demographics of the world Human ov...
 1                       Biological andrelated topics                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               Population biology Population decline Populati...
 2                                  Populationecology                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               Earth's energy budget I = P Ã— A Ã— T Kaya ident...
 3                                         Literature                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               A Modest Proposal Observations Concerning the ...
 4                                       Publications                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               Population and Environment Population and Deve...
 5                                              Lists                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               Population and housing censuses by country Met...

In [101]:
pop = tables[5]
pop

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   171490000     143998              1191
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17640000      41526               425
8     9       Israel     9410000      22072               426
9    10        India  1382840000    3287240               421

In [102]:
pop.to_sql(name="populations", con=temp_db)

In [103]:
temp_db.table_names()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['populations']

In [104]:
pd.read_sql(sql = "populations", con= temp_db)

   index  Rank      Country  Population  Area(km2)  Density(pop/km2)
0      0     1    Singapore     5704000        710              8033
1      1     2   Bangladesh   171490000     143998              1191
2      2     3      Lebanon     6856000      10452               656
3      3     4       Taiwan    23604000      36193               652
4      4     5  South Korea    51781000      99538               520
5      5     6       Rwanda    12374000      26338               470
6      6     7        Haiti    11578000      27065               428
7      7     8  Netherlands    17640000      41526               425
8      8     9       Israel     9410000      22072               426
9      9    10        India  1382840000    3287240               421

In [106]:
pd.read_sql_query(sql="select Counrty, Population from populations", con= temp_db)

OperationalError: ignored